.item {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.item5,
.item6,
.item7 {
  color: #000;
}

.container {
  margin: 0;
  padding: 0;
}

.item1 {
  background-color: #0e1628;
}

.item2 {
  background-color: #f13a4b;
}

.item3 {
  background-color: #4685c4;
}

.item3 {
  background-color: #4685c4;
}

.item4 {
  background-color: #223349;
}

.item5 {
  background-color: #bee3e5;
}

.item6 {
  background-color: #47bd99;
}

.item7 {
  background-color: #ffd170;
}

.item1 {
  grid-area: item1;
}

.item2 {
  grid-area: item2;
}

.item3 {
  grid-area: item3;
}

.item4 {
  grid-area: item4;
}

.item5 {
  grid-area: item5;
}

.item6 {
  grid-area: item6;
}

.item7 {
  grid-area: item7;
}

/*Global*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
}

.item {
  text-transform: uppercase;
}

/*Mobile*/
.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(14, 1fr);
  grid-template-areas: "item1"
                        "item2"
                        "item3"
                        "item3"
                        "item3"
                        "item4"
                        "item4"
                        "item4"
                        "item7"
                        "item7"
                        "item6"
                        "item6"
                        "item5"
                        "item5";
}

/*Tablet*/
@media (min-width: 768px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(13, 1fr);
    grid-template-areas: "item1 item1 item1 item1"
                          "item3 item3 item3 item3"
                          "item3 item3 item3 item3"
                          "item3 item3 item3 item3"
                          "item3 item3 item3 item3"
                          "item2 item4 item4 item4"
                          "item2 item4 item4 item4"
                          "item2 item4 item4 item4"
                          "item2 item4 item4 item4"
                          "item2 item7 item7 item7"
                          "item2 item7 item7 item7"
                          "item2 item6 item6 item5"
                          "item2 item6 item6 item5";
  }
}

@media (min-width: 1200px) {
  .container {
    grid-template-areas: "item1 item2 item2 item2"
                          "item3 item3 item3 item3"
                          "item3 item3 item3 item3"
                          "item3 item3 item3 item3"
                          "item3 item3 item3 item3"
                          "item3 item3 item3 item3"
                          "item3 item3 item3 item3"
                          "item4 item4 . item5"
                          "item4 item4 . item5"
                          "item4 item4 . item6"
                          "item4 item4 . item6"
                          "item7 item7 item7 item7"
                          "item7 item7 item7 item7";
  }
}